/*****

LinkComponent.module.css

*****/

/*** 

linkStyle - as standard link 

***/

.link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	box-shadow: none;
	white-space: nowrap;
}

.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	bottom: -2px;
	left: 0;
	pointer-events: none;
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
	z-index: 1;
}

.link:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

.link:focus,
.link:active:focus,
.link:focus-within {
	outline: none;
	border: none;
	box-shadow: none;
}

.link.disabled,
.link.disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

/*** link content  - span that wraps the text ***/

.link .content {
	font-size: var(--fontsize-body);
}

/*** link background (underline effect) ***/

.link .background {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--color-grey);
}

/*** link colors ***/

/*** primary ***/

.link.primary {
	color: var(--color-primary);
}

.link.primary svg path {
	fill: var(--color-primary);
}

/*** secondary ***/

.link.secondary {
	color: var(--color-secondary);
}

.link.secondary svg path {
	fill: var(--color-secondary);
}

/*** tertiary ***/

.link.tertiary {
	color: var(--color-tertiary);
}
.link.tertiary svg path {
	fill: var(--color-tertiary);
}

/*** quaternary ***/

.link.quaternary {
	color: var(--color-quaternary);
}

.link.quaternary svg path {
	fill: var(--color-quaternary);
}

/*** dark ***/

.link.dark {
	color: var(--color-dark);
}

.link.dark svg path {
	fill: var(--color-dark);
}

/*** light ***/

.link.light {
	color: var(--color-white);
}

.link.light svg path {
	fill: var(--color-white);
}

/*** link with icon ***/

.link .iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 var(--spacer-micro);
	width: calc(var(--spacer-1) + var(--spacer-micro));
	height: calc(var(--spacer-1) + var(--spacer-micro));
	border-radius: 100%;
	padding: 0;
}

.link .iconWrapper svg {
	display: inline-flex;
	align-self: center;
	justify-self: center;
}

/*** 

linkStyle - as button 

***/

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: var(--spacer-10);
	font-family: var(--font-primary);
	line-height: var(--body-line-height);
	margin: var(--spacer-micro) 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	box-shadow: none;
}

.button .background {
	display: inline-block;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	border-radius: 100%;
	position: absolute;
	will-change: transform;
	z-index: -1;
	transform: scale(0);
	opacity: 0;
	transform-origin: center;
	transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), opacity 0.5s cubic-bezier(0, 0, 0.58, 1);
}

.button:hover .background {
	transform: scale(1);
	opacity: 1;
	transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), opacity 0.5s cubic-bezier(0, 0, 0.58, 1);
}

/* button next sibling spacing */

.button + .button,
.button + .link,
.button + .icon,
.icon + .icon,
.icon + .link,
.icon + .button {
	margin-left: var(--spacer-1);
}

.link + .link,
.link + .button,
.link + .icon {
	margin-left: var(--spacer-2);
}

.button:focus,
.button:active:focus,
.button:focus-within {
	outline: none;
	border: none;
	box-shadow: none;
}

.button.disabled,
.button.disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

/* button colors */

/* primary */

.button.primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.button.primary .filledIconWrapper {
	background-color: var(--color-primary-hover);
}

.button.primary svg path {
	fill: var(--color-white);
}

.button.primary .background {
	background-color: var(--color-primary-hover);
}

/* secondary */

.button.secondary {
	background-color: var(--color-secondary);
	color: var(--color-white);
}

.button.secondary .filledIconWrapper {
	background-color: var(--color-secondary-hover);
}

.button.secondary svg path {
	fill: var(--color-white);
}

.button.secondary .background {
	background-color: var(--color-secondary-hover);
}

/* tertiary */

.button.tertiary {
	background-color: var(--color-tertiary);
	color: var(--color-black);
}

.button.tertiary .filledIconWrapper {
	background-color: var(--color-tertiary-hover);
}

.button.tertiary svg path {
	fill: var(--color-black);
}

.button.tertiary .background {
	background-color: var(--color-tertiary-hover);
}

/* quaternary */

.button.quaternary {
	background-color: var(--color-quaternary);
	color: var(--color-black);
}

.button.quaternary .filledIconWrapper {
	background-color: var(--color-quaternary-hover);
}

.button.quaternary svg path {
	fill: var(--color-black);
}

.button.quaternary .background {
	background-color: var(--color-quaternary-hover);
}

/* dark */

.button.dark {
	background-color: var(--color-black);
	color: var(--color-white);
}

.button.dark .filledIconWrapper {
	background-color: var(--color-black-hover);
}

.button.dark svg path {
	fill: var(--color-white);
}

.button.dark .background {
	background-color: var(--color-black-hover);
}

/* light */

.button.light {
	background-color: var(--color-white);
	color: var(--color-black);
}

.button.light .filledIconWrapper {
	background-color: var(--color-light-hover);
}

.button.light svg path {
	fill: var(--color-black);
}

.button.light .background {
	background-color: var(--color-light-grey);
}

/* button sizes */

.button.sm {
	padding: var(--spacer-micro) var(--spacer-1);
}

.button.md {
	padding: var(--spacer-1) var(--spacer-2);
}

.button.lg {
	padding: calc(var(--spacer-1) + var(--spacer-micro)) var(--spacer-3);
}

/* button content - the span that wraps the words */

.button .content {
	font-size: var(--fontsize-body);
	min-height: var(--spacer-3);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: 0 var(--spacer-micro);
}

/* button icon  - the custom svg that can live next to a button */

.button .iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: calc(var(--spacer-1) / 4);
	vertical-align: middle;
	width: var(--spacer-2);
	height: var(--spacer-2);
	border-radius: 100%;
	padding: var(--spacer-micro);
}

.button .iconWrapper svg {
	display: inline-flex;
	align-self: center;
	justify-self: center;
}

/*** 

linkStyle - as icon 

***/

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: var(--spacer-10);
	font-family: var(--font-primary);
	line-height: var(--body-line-height);
	margin: var(--spacer-micro) 0;
	padding: var(--spacer-micro);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	box-shadow: none;
}

.icon .background {
	display: inline-block;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	border-radius: 100%;
	position: absolute;
	will-change: transform;
	z-index: -1;
	transform: scale(0);
	opacity: 0;
	transform-origin: center;
	transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), opacity 0.5s cubic-bezier(0, 0, 0.58, 1);
}

.icon:hover .background {
	transform: scale(1);
	opacity: 1;
	transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), opacity 0.5s cubic-bezier(0, 0, 0.58, 1);
}

.icon:focus,
.icon:active:focus,
.icon:focus-within {
	outline: none;
	border: none;
	box-shadow: none;
}

.icon.disabled,
.icon.disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

/* button colors */

/* primary */

.icon.primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.icon.primary .filledIconWrapper {
	background-color: var(--color-primary-hover);
}

.icon.primary svg path {
	fill: var(--color-white);
}

.icon.primary .background {
	background-color: var(--color-primary-hover);
}

/* secondary */

.icon.secondary {
	background-color: var(--color-secondary);
	color: var(--color-white);
}

.icon.secondary .filledIconWrapper {
	background-color: var(--color-secondary-hover);
}

.icon.secondary svg path {
	fill: var(--color-white);
}

.icon.secondary .background {
	background-color: var(--color-secondary-hover);
}

/* tertiary */

.icon.tertiary {
	background-color: var(--color-tertiary);
	color: var(--color-black);
}

.icon.tertiary .filledIconWrapper {
	background-color: var(--color-tertiary-hover);
}

.icon.tertiary svg path {
	fill: var(--color-black);
}

.icon.tertiary .background {
	background-color: var(--color-tertiary-hover);
}

/* quaternary */

.icon.quaternary {
	background-color: var(--color-quaternary);
	color: var(--color-black);
}

.icon.quaternary .filledIconWrapper {
	background-color: var(--color-quaternary-hover);
}

.icon.quaternary svg path {
	fill: var(--color-black);
}

.icon.quaternary .background {
	background-color: var(--color-quaternary-hover);
}

/* dark */

.icon.dark {
	background-color: var(--color-black);
	color: var(--color-white);
}

.icon.dark .filledIconWrapper {
	background-color: var(--color-black-hover);
}

.icon.dark svg path {
	fill: var(--color-white);
}

.icon.dark .background {
	background-color: var(--color-black-hover);
}

/* light */

.icon.light {
	background-color: var(--color-white);
	color: var(--color-black);
}

.icon.light .filledIconWrapper {
	background-color: var(--color-light-hover);
}

.icon.light svg path {
	fill: var(--color-black);
}

.icon.light .background {
	background-color: var(--color-light-grey);
}

/* icon sizes */

.icon.sm {
	width: var(--spacer-2);
	height: var(--spacer-2);
	padding: var(--spacer-micro);
}

.icon.md {
	width: var(--spacer-3);
	height: var(--spacer-3);
	padding: var(--spacer-1);
}

.icon.lg {
	width: var(--spacer-4);
	height: var(--spacer-4);
	padding: var(--spacer-2);
}

/* icon content - hidden for this style */

.icon .content {
	display: none;
}

/* icon  - the custom svg that can live next to a button */

.icon .iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	vertical-align: middle;
	border-radius: 100%;
	margin: 0;
}

.icon .iconWrapper svg {
	display: inline-flex;
	align-self: center;
	justify-self: center;
}
