/*****

InputField.module.css

*****/

/* input wrapper */

.inputWrapper {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	margin-bottom: var(--spacer-2);
	width: 100%;
}

.inputWrapper .inputGenericWrapper {
	position: relative;
	display: flex;
	align-items: center;
}

/* input wrapper width settings */

.inputWrapper.quarter {
	width: calc(25% - calc(var(--spacer-micro) + var(--spacer-1)));
}

.inputWrapper.third {
	width: calc(33.333% - calc(var(--spacer-micro) + var(--spacer-1)));
}

.inputWrapper.half {
	width: calc(50% - var(--spacer-1));
}

/* input label */

.label {
	display: block;
	font-family: var(--font-secondary);
	font-size: var(--fontsize-body);
	margin-bottom: var(--spacer-micro);
}

/* input field */

.inputField {
	padding: var(--spacer-2);
	border-radius: var(--spacer-micro);
	font-family: var(--font-secondary);
	font-size: var(--fontsize-body);
	border: 2px solid var(--color-grey);
	outline: none;
	width: 100%;
	transition: border-color 200ms ease;
}

.inputField:focus {
	border-color: color-mix(in srgb, var(--color-grey), #000 10%);
	transition: border-color 200ms ease;
}

/* input with an icon (defaults to right side positioning) */

.inputIconWrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.inputIconWrapper .inputField {
	padding-right: var(--spacer-6);
}

.inputIconWrapper .icon {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	right: var(--spacer-1);
	width: var(--spacer-5);
	height: var(--spacer-5);
	min-width: var(--spacer-5);
	min-height: var(--spacer-5);
	max-width: var(--spacer-5);
	max-height: var(--spacer-5);
	border-radius: 100%;
	user-select: none;
}

.inputIconWrapper .icon svg {
	width: calc(var(--spacer-2) + var(--spacer-micro));
	height: calc(var(--spacer-2) + var(--spacer-micro));
	min-width: calc(var(--spacer-2) + var(--spacer-micro));
	min-height: calc(var(--spacer-2) + var(--spacer-micro));
	max-width: calc(var(--spacer-2) + var(--spacer-micro));
	max-height: calc(var(--spacer-2) + var(--spacer-micro));
}

/* input with an icon (icon positioned to left) */

.inputIconWrapper.iconLeft .inputField {
	padding-left: var(--spacer-5);
	padding-right: var(--spacer-2);
}

.inputIconWrapper.iconLeft .icon {
	right: auto;
	left: var(--spacer-2);
	width: var(--spacer-2);
	height: var(--spacer-2);
	min-width: var(--spacer-2);
	min-height: var(--spacer-2);
	max-width: var(--spacer-2);
	max-height: var(--spacer-2);
	background-color: transparent;
}

/* input with a clickable / interactive icon */

.inputIconWrapper.inputIconInteractive .icon {
	overflow: hidden;
	pointer-events: all;
	cursor: pointer;
	background-color: var(--color-light-grey);
	z-index: 1;
}

.inputIconWrapper.inputIconInteractive .icon:focus {
	outline: 1px solid var(--color-grey);
}

.inputIconWrapper.inputIconInteractive .icon:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	border-radius: 100%;
	position: absolute;
	will-change: transform;
	z-index: -1;
	background-color: var(--color-grey);
	transform: scale(0);
	transition: transform 0.25s ease;
}

.inputIconWrapper.inputIconInteractive .icon:hover::before {
	transform: scale(1.1);
	transition: transform 0.25s ease;
}

/* input with a clickable  / interactive icon - icon positioned left */

.inputIconWrapper.inputIconInteractive.iconLeft .icon {
	background-color: transparent;
}

.inputIconWrapper.inputIconInteractive.iconLeft .icon::before {
	display: none;
}

/* specific input types styles */

.inputIconWrapper .inputField[type='search'] {
	text-overflow: ellipsis;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

input[type='search']::-ms-clear {
	display: none;
}

/* error state */

.error {
	display: block;
	margin-top: var(--spacer-micro);
	color: red;
}
