@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&display=swap');

/*****

CONTENT PANELS

*****/

.panel {
	padding-top: var(--spacer-2);
	margin-bottom: var(--spacer-2);
}

.panel-lg {
	padding: var(--spacer-1) var(--spacer-10) var(--spacer-6) var(--spacer-10);
	margin-bottom: var(--spacer-3);
	border-bottom: 2px solid var(--color-grey);
}

.panel-lg h2:before {
	content: '<';
	display: inline-block;
	color: var(--color-secondary);
	position: absolute;
	transform: translateX(-32px);
}

.panel-lg h2:after {
	content: '/>';
	display: inline-block;
	color: var(--color-tertiary);
	transform: translateX(8px);
}

.panel-transparent {
	background-color: transparent;
}

.panel-outline {
	border-radius: var(--spacer-2);
	border: 1px solid var(--color-grey);
	padding: var(--spacer-5);
	margin-bottom: var(--spacer-2);
}

.panel-outline .code-example {
	margin-bottom: 0;
	margin-top: var(--spacer-5);
}

.panel-example {
	margin-top: var(--spacer-3);
	border-radius: var(--spacer-1);
	border: 1px solid var(--color-grey);
	padding: var(--spacer-4);
}

.divider {
	padding-top: var(--spacer-3);
}

/*****

ASIDE NAVIGATION

*****/

.sidebar {
	position: sticky;
	top: 0;
	padding: var(--spacer-6) var(--spacer-5) var(--spacer-6) 0;
	height: 100vh;
	overflow-y: scroll;
	border-radius: 0;
	overflow: visible;
}

.sidebar:before {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-light-grey);
	pointer-events: none;
}

aside .h6 {
	margin-bottom: var(--spacer-1);
}

.aside-links {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: var(--spacer-3);
}

.aside-links li {
	margin-bottom: 0;
	padding: var(--spacer-micro) 0;
}

/*****

HERO HEADER

*****/

header {
	background-color: var(--color-primary);
	padding-top: var(--spacer-18);
	padding-bottom: var(--spacer-5);
}

header h1 {
	color: var(--color-white);
}

/*****

CONTENT

*****/

.content {
	padding-top: var(--spacer-4);
}

.content.fade-in {
	animation: fadeIn 0.15s;
	opacity: 1;
}

.content.fade-out {
	animation: fadeOut 0.15s;
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/*****

CODE EXAMPLES

*****/

/* code */

code {
	background-color: var(--color-light-grey);
	color: var(--color-code);
	padding: 0 var(--spacer-micro);
	border-radius: var(--spacer-micro);
	font-family: 'DM Mono', monospace;
	font-size: 15px;
	overflow-x: auto;
	font-weight: 500;
	display: inline-flex;
	word-break: break-all;
}

pre {
	background-color: var(--color-light-grey);
	padding: var(--spacer-2);
	margin-bottom: var(--spacer-4);
	border-radius: var(--spacer-1);
	overflow-x: auto;
}

.code-example {
	border: 1px solid var(--color-grey);
	border-radius: var(--spacer-1);
	position: relative;
	padding-bottom: 0;
	overflow: hidden;
	margin-bottom: var(--spacer-3);
}

.code-preview {
	padding: var(--spacer-3) var(--spacer-3) 0 var(--spacer-3);
	border-radius: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.code-button {
	position: relative;
	display: block;
	margin-left: auto;
	border-top-left-radius: var(--spacer-micro);
	z-index: 2;
	background: transparent;
	background: var(--color-grey);
	border: none;
	padding: 4px 8px;
	font-family: var(--font-secondary);
	font-weight: 400;
	cursor: pointer;
}

.code-editor .prism-code.language-tsx {
	border-radius: 0;
	padding: var(--spacer-3) !important;
	font-family: 'DM Mono', monospace !important;
	font-size: 15px !important;
	font-weight: 500 !important;
}

.code-error {
	margin: 0;
}

/*****

Tables

*****/

table {
	width: auto;
	margin-bottom: var(--spacer-3);
	color: var(--color-black);
	border: 1px solid var(--color-grey);
	border-radius: var(--spacer-1);
	max-width: calc(var(--base-spacer-size) * 90);
}

table th,
table td {
	font-family: var(--font-secondary);
	padding: var(--spacer-1) var(--spacer-2);
	vertical-align: top;
	border-top: 1px solid var(--color-grey);
}

table thead th {
	font-family: var(--font-primary);
	vertical-align: bottom;
	text-align: left;
	border-top: none;
}

table tbody tr td:not(:first-of-type) {
	border-left: 1px solid var(--color-grey);
}
