/*****

GLOBAL BASE

*****/

/*** body base ***/

body {
	font-size: var(--fontsize-body);
	font-family: var(--font-secondary);
	line-height: var(--body-line-height);
	outline: none !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	font-weight: normal;
	color: var(--color-black);
	height: 100% !important;
	margin: 0;
}
