/*****

GLOBAL COLOUR VARIABLES

*****/

:root {
	--color-primary: #5423e7;
	--color-primary-hover: color-mix(in srgb, #5423e7, #000 10%);
	--color-primary-disabled: color-mix(in srgb, #5423e7, #fff 20%);

	--color-secondary: #f53d6b;
	--color-secondary-hover: color-mix(in srgb, #f53d6b, #000 10%);
	--color-secondary-disabled: color-mix(in srgb, #f53d6b, #fff 20%);

	--color-tertiary: #56d990;
	--color-tertiary-hover: color-mix(in srgb, #56d990, #000 10%);
	--color-tertiary-disabled: color-mix(in srgb, #56d990, #fff 20%);

	--color-quaternary: #ffc133;
	--color-quaternary-hover: color-mix(in srgb, #ffc133, #000 10%);
	--color-quaternary-disabled: color-mix(in srgb, #ffc133, #fff 20%);

	--color-white: #ffffff;
	--color-light-grey: #f7f7f8;
	--color-grey: #d1d1db;

	--color-black: #1c1c1c;
	--color-black-hover: #3b3838;
	--color-black-disabled: #000000;

	--color-code: #a5007d;
}
