/*****

Typography

*****/

/*** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&display=swap');
/*** typograpphy variables ***/

:root {
	--font-primary: 'Outfit', sans-serif;
	--font-primary-base: 'Outfit', sans-serif;
	--font-secondary: 'Outfit', sans-serif;
	--font-tertiary: 'Outfit', sans-serif;

	/*** TYPE SCALE SETTINGS ***/

	/* setting base values */
	--text-base-size: 16px;

	--text-scale-ratio: 1.3333;

	/* BASE line height values */
	--heading-line-height: 1.424;
	--body-line-height: 1.5;

	/* base type scale */
	--fontsize-body: var(--text-base-size);
	--fontsize-h6: var(--text-base-size);
	--fontsize-lead: calc(var(--text-base-size) * var(--text-scale-ratio));
	--fontsize-h5: calc(var(--text-base-size) * var(--text-scale-ratio));
	--fontsize-h4: calc(var(--text-base-size) * var(--text-scale-ratio));
	--fontsize-h3: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--fontsize-h2: calc(
		var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--fontsize-h1: calc(
		var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
}

/*****

TYPOGRAPHY STYLES

*****/

h1,
.h1,
.text-xxl {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h1);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-5);
}

h2,
.h2,
.text-xl {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h2);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-3);
}

h3,
.h3,
.text-lg {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h3);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-3);

	line-height: 1.4063; /*  stopping splitting pixels... REMOVE FROM TEMPLATE */
}

h4,
.h4 {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h4);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-3);
	line-height: 1.5; /*  stopping splitting pixels... REMOVE FROM TEMPLATE */
}

h5,
.h5,
.text--md {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h5);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-2);
}

h6,
.h6 {
	font-family: var(--font-primary);
	font-size: var(--fontsize-h6);
	line-height: var(--heading-line-height);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--spacer-2);
}

p {
	font-size: var(--fontsize-body);
	font-family: var(--font-secondary);
	line-height: var(--body-line-height);
	font-weight: 400;
	margin-top: 0;
	margin-bottom: var(--spacer-3);
}

span {
	font-weight: 400;
}

.lead {
	font-size: var(--fontsize-lead);
	line-height: var(--body-line-height);
	font-weight: normal;
	margin-top: 0;
	margin-bottom: var(--spacer-2);
}

b,
strong,
.hfont {
	font-family: var(--font-primary);
	font-weight: 800;
}

/* horizontal rule */

hr {
	background-color: var(--color-grey);
	margin-top: var(--spacer-3);
	margin-bottom: var(--spacer-3);
	height: 1px;
	border: none;
}

/* base links */

a {
	color: var(--color-black);
	font-weight: 400;
	text-decoration: none;
}

a:visited,
a:focus,
a:focus-within,
a:hover {
	color: var(--color-black);
	outline: none;
	text-decoration: none;
}

/* base unordered list */

ul {
	padding-left: var(--spacer-5);
}

ul li {
	font-size: var(--fontsize-body);
	font-family: var(--font-secondary);
	font-weight: 400;
	line-height: var(--body-line-height);
	font-weight: normal;
	margin-top: 0;
	margin-bottom: var(--spacer-1);
}
